body {font-family: 'lato';}


/* start header */
.header .container {
    /*background: url('../images/toy.jpeg') no-repeat center;*/
    /*background-size: cover;*/
    /*height: 370px;*/
}

.header img {
    width:100%;
    height:300px;
    object-fit:cover;

}

.header .adv {
    height:300px;
    border: 1px solid #CCC;
}

.header h3 {
    color: #FFF;
    margin-top: 150px;
    text-shadow: 1px 1px 1px #111;
    text-decoration: underline;
    font-weight:bold;
}

.header p {
    color: #FFF;
    text-shadow: 1px 1px 1px #111;
}

@media (max-width:991px) {
    .header .container {
        height: 270px;
    }

    .header h3 {
        margin-top: 120px;
        text-shadow: 1px 1px 1px #111;
    }

    .header img {
        height:200px;
    }

    .header .adv {
        height: 100px;
        margin:15px 0;
    }

}
/* end header */

/* start floating button */
.faded {
    margin:0 auto;
}
.floating {
    background: linear-gradient(to right, #004E68 , #0093A6);
    color: #FFF;
    border:none;
    padding:10px 20px;
    border-radius:50px;
    position:fixed;
    bottom:10px;
    left:43%;
    /*right:43%;*/
    z-index: 99999;
    width:160px;
}

.floating a {
    color:#FFF;
    cursor:pointer;
    text-decoration: none;
}

@media (max-width:786px){
    .floating {
        font-size:9px;
        padding: 5px 10px;
        left: 45%;
        right:45%;
        width:100px;
    }
}

@media (max-width:480px){
    .floating {
        left: 39%;
        right:45%;
    }
}

@media (max-width:412px){
    .floating {
        left: 39%;
        right:45%;
    }
}

@media (max-width:375px){
    .floating {
        left: 37%;
        right:45%;
    }
}



/* end floating button */

/* start hr */

.hr {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid rgb(207,207,215);
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.hr span {
    font-size: 22px;
    background-color: #FFF;
    padding: 0 40px;
    color: #00415e;
}

@media (max-width:786px) {
    .hr {
        height: 10px;
    }
    .hr span {
        padding: 0 30px;
        font-size: 12px;
    }

}
/* end hr */

/* start content */
.content h1 {
    color: #01425D;
    margin-top: 24px;
}

.content .date span {
    color: #888;
}

.content p.first {
    color: #01425D;
    font-size: 16px;
    margin-top: 25px;
    line-height:1.6;
}

.content p {
    color: #01425D;
    font-size: 16px;
}

.slider-nav {
    margin-left:20%;
    margin-right:20%;
    margin-top: 30px;
}

.item {
    width:100%;
    height:310px;
}

.slider-nav img {
    width:98%;
    height: 90%;
}

.slick-slide:focus,
.slick-current:focus {
    outline: none;
}

.slick-dots li {
    display:none;
}

.slick-prev, .slick-next {
    color:#FFF;
    background: #c1c1c175;
    height: 100px;
    width: 21px;
}

.slick-prev, .slick-prev:before {
    content:"◄";

}

.slick-next, .slick-next:before {
    content:"►";

}

.slick-prev:hover, .slick-next:hover {
    color: #FFF;
    background: #c1c1c175;
}

.slick-prev:before, .slick-next:before {
    color: #FFF;
    background: #cccccc00;
    height: 100px;
    width: 21px;
}

.slick-prev:focus, .slick-next:focus {
    background: #c1c1c175;
}

.author h3 {
    color:#BBB;
    font-size: 14px;
}

.side-border {
    border-right: 1px solid #CCC;
}

.ad {
    border: 1px solid #CCC;
    /*height: 275px;*/
    margin: 20px 0;
    overflow: hidden;
}

.ad img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.similar-schools {
    border: 1px solid #CCC;
    border-radius: 15px;
    width: 90%;
    margin-bottom: 30px;
}

.similar-schools img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-top: -25px;
    background: #FFF;
    object-fit: contain;
}

.sim-sch-name {
    overflow: hidden;
    height: 23px;
}

.similar-schools p a {
    color:#01425D;
    cursor: pointer;
    line-height:1.8;
}

.similar-schools i {
    color: #ffe003;
    font-size:27px
}

.content .similar-schools .rate {
    margin-top: -22px;
    font-size: 10px;
}

.article {
    overflow:hidden;
    border: none;
    border-radius: 20px;
    height: 113px;
    margin-bottom: 30px;
    box-shadow: 4px 4px 4px #CCC;
}

.article-pic {
    overflow: hidden;
    padding: 0 !important;
    position: inherit;
}

/*.article p {*/
/*font-size: 9px;*/
/*padding:0;*/
/*overflow: hidden;*/
/*height: 49px;*/
/*color:#01425D;*/
/*}*/

.article p a {
    color:#888;
    font-size: 12px;
}

.article h5 {
    color:#01425D;
    height:68px;
    overflow: hidden;
    width: 100%;
    line-height:1.7;
    font-size: 13px;
}

.article img {
    width: 326px;
    overflow: hidden;
}


@media (max-width:568px) {
    .item {
        height:140px;
    }
}

@media (max-width:786px) {
    .content p {
        font-size: 9px;
    }

    .slider-nav {
        margin-left:10%;
        margin-right:10%;
    }

    .content h1 {
        font-size: 16px;
        margin-top: 15px;
        margin-bottom:0;
    }

    .content span {
        font-size: 10px;
    }

    .content p.first {
        font-size: 10px;
        margin-top: 10px;
        line-height: 15px;
    }

    .content p {
        font-size: 10px;
        line-height: 15px;
    }

    .author h3 {
        color:#BBB;
        font-size: 9px;
    }

    .slick-next, .slick-next:before {
        height:41px;

    }

    .slick-prev, .slick-prev:before {
        height:41px;

    }

    .side-border {
        border-right: none;
    }



}
/* end content */