
/* start header */

#header {
    background: url('../images/Artboard3-100.jpg') no-repeat center;
    background-size: cover;
    margin-bottom: 20px;
}

#header .container {
    padding-top: 20px;
}

#header .logo img {
    border-top:1px solid #01425D;
    border-bottom:1px solid #01425D;padding: 10px;
    border-radius:10px;
}
#header .sch-info img {
    width: 170px;
    height: 170px;
    object-fit: contain;
}

#header h2 {
    margin-bottom: 5px;
    font-weight: bold;
    color: #01425D;
    display:inline-flex;
}

#header .fa-star-o:before {
    color: #ffd800;
    cursor: pointer;
    float:left;
}

.fa-star {
    color: #ffd800;
    cursor: pointer;
}

#header .sch-item {
    margin: 20px 0;
}

#header .sch-item .fa {
    color: #68c5d0;
    font-size: 21px;
    width: 23px;
}

#header .sch-item p {
    display: inline;
    margin-left: 10px;
    color: #01425D;
    font-size: 17px;
}

.ad, .adv {
    border: 1px solid #CCC;
    margin-bottom: 20px;
}

#header .ad img, #header .adv img {
    width: 100%;
    height: 213px;
    object-fit: cover;
}

#header .no-padding {
    padding: 0 !important;
}

#header .social-media p {
    display: inline;
    color: #01425D;
    font-size: 15px;
}

#header .social-media .social-icons {
    width: 20px;
    height: 20px;
    margin-left: 2px;
}

#header .sch-info .not-found {
    width:20px;
    height:20px;
    margin-left: 15px;
}

@media (max-width:786px) {
    #header h2 {
        font-size: 12px;
    }

    #header .sch-item p {
        font-size: 11px;
    }

    #header .sch-item .svg-inline--fa {
        font-size: 11px;
    }

    #header .sch-item {
        margin: 10px 0;
    }

    #header .social-media p {
        font-size: 10px;
    }

    #header .social-media .social-icons {
        margin-left: 2px;
    }

    #header .ad img {
        height: 260px;
    }

    #header .adv img {
        height:120px;
    }

    #header .sch-info .not-found {
        width: 10px;
        height: 10px;
        margin-left: 3px;
    }

    #header .fa-star-o:before {
        font-size:12px;
    }

    #header .logo {
        text-align:center;
    }

    #header .sch-item .fa {
        width:18px;
    }

}
/* end header */

/* start hr */

.hr {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid rgb(207,207,215);
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.hr span {
    font-size: 22px;
    background-color: #FFF;
    padding: 0 40px;
    color: #00415e;
    /*background: url("../images/icons/Group167.png") no-repeat center;*/
    /*background-size: cover;*/
}

@media (max-width:786px) {
    .hr {
        height: 10px;
    }
    .hr span {
        padding: 0 30px;
        font-size: 12px;
    }

}
/* end hr */

/* start about-school */
.side-border {
    border-right: 1px solid #CCC;
}

.about-school .ad img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.no-data {
    width: 50px;
    margin: 50px 0;
}

.about-school h4 {
    color: #01425D;
    line-height:1.5;
}

.similar-schools {
    border: 1px solid #CCC;
    border-radius: 15px;
    width: 90%;
    margin-bottom: 30px;
}

.similar-schools img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-top: -25px;
    background: #FFF;
    object-fit: contain;
}

.sim-sch-name {
    overflow: hidden;
    height: 23px;
}

.similar-schools p a {
    color:#01425D;
    cursor: pointer;
}

.fees table, .no-fees table, .no-facilities table, .facilities table {
    color: #01425D;
}

table a {
    color:#01425D;
}

table a:active, table a:focus, table a:hover {
    color:#01425D;
    outline:none;
}

.no-about, .no-fees, .no-facilities {
    display: none;
}
/*article*/

.article-pic {
    overflow: hidden;
    padding: 0 !important;
    position: inherit;
}

.article {
    overflow:hidden;
    border: none;
    border-radius: 20px;
    height: 113px;
    margin-bottom: 30px;
    box-shadow: 4px 4px 4px #CCC;
}

.article p a {
    color:#888;
    font-size: 12px;
}

.article h5 {
    color:#01425D;
    height:68px;
    overflow: hidden;
    width: 100%;
    line-height:1.7;
    font-size: 13px;
}

.article img {
    width: 326px;
    overflow: hidden;
}

/*
.article {
    overflow:hidden;
    border: none;
    border-radius: 20px;
    height: 113px;
    margin-bottom: 30px;
    box-shadow: 4px 4px 4px #CCC;
}

.article-pic {
    overflow: hidden;
    padding: 0 !important;
    position: inherit;
}

.article p {
    font-size: 9px;
    padding:0;
    overflow: hidden;
    height: 49px;
    color:#01425D;
    line-height:1.8;
}

.article p a {
    color:#888;
}

.article h5 {
    color:#01425D;
    height:17px;
    overflow: hidden;
    width: 90%;
    line-height:1.7;
}

.article img {
    width: 200%;
    overflow: hidden;
    height:200px;
}
*/

/* ******* Star Rating ******* */
.star-rating{
    font-size: 0;
    margin-left: 22px;
}
.star-rating__wrap{
    display: inline-block;
    font-size: 1rem;
}
.star-rating__wrap:after{
    content: "";
    display: table;
    clear: both;
}
.star-rating__ico{
    float: right;
    padding-left: 2px;
    cursor: pointer;
    color: #FFB300;
}
.star-rating__ico:last-child{
    padding-left: 0;
}
.star-rating__input{
    display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
    content: "\f005";
}
/* ******* Star Rating ******* */

@media (max-width:786px){
    .about-school h4 {
        font-size:10px;
    }

    table {
        font-size: 9px;
    }

    .about-school .ad img {
        height: 100px;
    }

    .similar-schools p a {
        font-size: 10px;

    }

    .similar-schools img {
        width: 35px;
        height: 35px;
    }

    .side-border {
        border-right: none;
    }

    .no-data {
        width: 35px;
        margin: 25px 0;
    }
}

@media (max-width:335px) {
    .article img {
        width: 500%;
        overflow: hidden;
    }
}



/* end about-school */

/* start footer */

.footer {
    background: url('../images/Artboard3-100.jpg') center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 90%;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    display: inline-block;
    margin-left: 9px;
    text-transform: capitalize;
    color: #00415e;
    font-weight: bold;
    font-family: 'lato' , sans-serif;
    background: #fff;

}

.footer ul li a {
    color: #00415e;
}

.footer p,
.footer .icons {
    display: inline-block;
    font-family: 'lato' , sans-serif;
}

.footer .banner {
    width: 280px;
    margin-bottom: 20px;
}

.footer p {
    color: #01425D;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'lato' , sans-serif;
    font-weight: bold;
}

@media (max-width:550px) {

    .footer {
        padding-top: 0;
        text-align: center;

    }

    .footer .container {
        padding: 0;
        margin: 0 30px;
    }

    .footer .banner {
        width: 120px;
        margin-bottom: 10px;
    }

    .footer p {
        font-size: 7px;
    }

    .footer ul {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .footer ul li {
        margin-right: 1px;
        font-size: 7px;
    }
}
/* end footer */