html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'lato' , sans-serif;
}


input:focus, input:focus, select:focus, button:focus, select:focus{
    outline: none;
}

/*global */

/****START HOME****/

.home-school-abdo {
    background: url(../pic/home/cover.png) center fixed no-repeat;
    width: 100%;
    min-height: 350px;
    /* padding-bottom: 100px; */
    -webkit-background-size: cover;
    -Moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 4px #053460 solid;
}



.home-school-abdo .home-school-ul-right .home-school-panel  li{
    float: left;
    list-style: none;
    margin-left: 20px;
    margin-top: 30px;
    color: #053460;
    cursor: pointer;
    font-size: 15px;
    /* font-weight: bold; */
}

.home-school-abdo .home-school-ul-right .home-school-panel  li:hover{
    float: left;
    list-style: none;
    margin-left: 20px;
    margin-top: 30px;
    color: #0a618a;
    cursor: pointer;
}



/*.home-school-abdo .home-header-nave{*/
/*padding-left: 70px;*/
/*padding-right: 70px;*/
/*}*/


.home-school-abdo .home-school-ul-right ul .home-register-button{
    margin-left: 40px;
    margin-top: 22px;
    color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background: linear-gradient(to right, #053460 , #0a618a);

}.home-school-abdo .home-school-ul-right ul .home-register-button:hover{
     margin-left: 40px;
     margin-top: 22px;
     color: white;
     padding: 5px;
     padding-left: 20px;
     padding-right: 20px;
     border-bottom-right-radius: 20px;
     border-top-right-radius: 20px;
     border-bottom-left-radius: 20px;
     border-top-left-radius: 20px;
     background: linear-gradient(to right, #0a618a , #0a618a);
 }


.home-school-abdo .home-school-ul-right ul .home-icon i{
    font-size: 20px;
}

.home-school-abdo .home-school-slogan{
    margin-top: 10px;
}

.home-school-abdo .home-school-slogan .up-slogan {
    letter-spacing: 15px;
    font-weight: bold;
    color: white;
}

.home-school-abdo .home-school-slogan .down-slogan {
    letter-spacing: 15px;
    font-weight: bold;
    color: white;
}

.home-school-abdo .home-school-slogan .up-slogan{
    font-size: 30px;
}

.home-school-abdo .home-school-slogan .down-slogan{
    font-size: 47px;
    letter-spacing: 25px;
}


/*section dropDown*/

#small-bars{
    display: none;
    margin-left: 30px;
}

#small-bars{
    margin-top: 40px;
    color: #054360;
    font-size: 40px;
    cursor: pointer;
}



.cover-bars{

    display: none;
    background-color: #0a618a;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    position: absolute;
    z-index: 100;
    right: .01%;
}


.cover-bars ul li a{
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

.cover-bars ul li {
    list-style: none;
    font-size: 20px;
    padding: 10px;
    margin-left: 0;
}


.cover-bars ul li:hover {
    list-style: none;
    font-size: 20px;
    padding: 10px;
    margin-left: 0;
    background-color: #207FAA;
}

@media(max-width:1035px){
    .home-school-panel{
        display: none;
    }
    #small-bars{
        display: block;
    }

}

.home-school-abdo .home-slogan button {
    border: 0px;
    padding: 20px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 40px;
    cursor: pointer;
    padding-left: 70px;
    padding-right: 70px;
    background: linear-gradient(to right, #053460, #0a618a);
}


.home-school-abdo .home-slogan button:hover {
    border: 0px;
    padding: 20px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 40px;
    cursor: pointer;
    padding-left: 70px;
    padding-right: 70px;
    background: linear-gradient(to right, #0a618a, #0a618a);
}




.home-school-abdo .home-slogan .slogan-button-schools  a{
    text-decoration: none;
    color: white;
}

/* user logo & droppDown */
.home-school-abdo .home-school-ul-right .home-school-panel button {
    border-color: #053460;
}

.my-dropdown {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 30px;
    float: right;
}


.my-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
}

.my-dropdown {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 30px;
}

.dropdown__item {
    align-self: center;
    margin-left: .5em !important; /*damn you bootstrap!*/
}

.my-dropdown > .name {
    overflow: hidden;
    width: 0%;
    transition: width 300ms ease-out;
}

.my-dropdown > .name-shown {
    width: 60%;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
}

.home-school-abdo .home-school-ul-right .home-school-panel .drop-d-m-user {
    float: left;
    list-style: none;
    margin-left: 20px;
    margin-top: 17px;
    color: #053460;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}

.home-school-panel a {
    text-decoration: none;
    color: #053460;
}

/* drop down lang */
.home-school-abdo .home-school-ul-right .home-school-panel .li-1 {
    float: left;
    list-style: none;
    margin-left: 20px;
    margin-top: 30px;
    color: #053460;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
}

.home-school-abdo .home-header-nave .second-dropDown .block-dropDown {
    display: none;
    background-color: #0a618a;
    padding-left: 0px;
    padding-right: 9px;
    margin-top: 5px;
    position: absolute;
    z-index: 100;
}

.home-school-abdo .home-header-nave .second-dropDown .block-dropDown li {
    float: none;
    color: red;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 0px;
    font-weight: 100;
}

.dropdownMenu2{
    background-color: #214969;
}

.dropdownMenu2 li:hover{
    text-decoration: none;
    background-color: #0a618a;
}


.cover-bars ul li a:hover {
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    background-color: #0a618a;
}

.cover-bars ul li:hover{
    background-color: #0a618a;

}



/*.but-s-reg-ter button{*/
    /*background: none;*/
    /*border: 0;*/
    /*padding-top: 100px;*/
    /*color: #053460;*/
    /*letter-spacing: 3px;*/
    /*font-size: 30px;*/
    /*font-weight: bold;*/
    /*!*margin-bottom: 60px;*!*/
/*}*/
.nav-tab-h-h ul li{
    float: left;
    margin-left: 10px;
    list-style: none;
    padding: 5px 10px;
    background-color: #00273a;
    margin-top: 10px;
    border-radius: 5px;
    color: #bec3c7;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: bold;
}


.nav-tab-h-h ul li a{
    color: #bec3c7;
    text-decoration: none;
}

/*.nav-tab-h-h ul{*/
    /*background-color: #053460;*/
    /*border-radius: 10px;*/
    /*padding-bottom: 7px;*/
/*}*/

.con-t-t-h{
    margin: 0 auto;
    background-color: #003d5b;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 34px;
    border-radius: 8px;
    max-width: 80%
}

@media (max-width: 991px) {

    .con-t-t-h {
        display: none;
    }
}


.searsh-schol-m input{
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 0.73);
    width: 50%;
    height: 35px;
    border-radius: 20px;
    border: solid 1px #0a618a;
    text-align: center;
    font-size: 15px;
    color: #053460;
    width: 80%;
}

.searsh-schol-m input::-webkit-input-placeholder {
    font-size: 15px;
    line-height: 3;
    color: #0a618a;
    letter-spacing: 3px;
}

.adv-search button{
    font-size: 17px;
    color: white;
    padding: 10px 20px;
    background-color: #0a618a;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    letter-spacing: 1px;
}

.adv-search a:hover{
    font-size: 15px;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 30px;
    border-radius: 20px;
    letter-spacing: 1px;

}

.adv-search{
    margin-top: 30px;
}


.range-slider {
    position: relative;
    width: 200px;
    height: 35px;
    text-align: center;
    margin-top: 15px;
    color: white;
    margin-right: 170px;
}

@media (max-width: 991px) {
    .range-slider {
        margin-top: 70px;
    }

    .box-sub-ran-pr{
        padding-top: 30px;
    }


    .adv-search button{
        margin-top: 15px;
    }



}

.price-slider h4{
    color: white;
}

/** button filter range **/
.search-buy-button {
    background-color: #b08700;
    color: white;
    padding: 5px 50px;
    margin-top: 60px;
    border-radius: inherit;
}


.rang-p-bod{
    margin: 0 auto;
    /*width: 90%;*/
    background-color: red;
}

.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 15px;
    width: 200px;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
}



.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: #b08700;
    border: 0;
}

.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}

.range-slider input[type=range]::-moz-focus-outer {
    border: 0;
}

.rangeValue {
    width: 30px;
}

.output {
    position: absolute;
    border:1px solid #999;
    min-width: 40px;
    height: 30px;
    text-align: center;
    color: #999;
    border-radius: 4px;
    display: inline-block;
    font: bold 15px/30px Helvetica, Arial;
    bottom: 75%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0px 5px;
}

.output.outputTwo {
    left: 100%;
}

/*.container {*/
/*position: absolute;*/
/*top: 50%;*/
/*left: 50%;*/
/*-webkit-transform: translate(-50%, -50%);*/
/*transform: translate(-50%, -50%);*/
/*}*/

input[type=range] {
    -webkit-appearance: none;
    background: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    border: none;
    border-radius: 3px;
    background: transparent;
}

input[type=range]::-ms-track {
    height: 5px;
    background: transparent;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-track {
    height: 5px;
    background: transparent;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    /*border-radius: 50%;*/
    background: #0a618a;
    margin-top: -5px;
    position: relative;
    z-index: 10000;
}

input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    /*border-radius: 50%;*/
    background: #0a618a;
    margin-top: -5px;
    position: relative;
    z-index: 10000;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    /*border-radius: 50%;*/
    background: #0a618a;
    margin-top: -5px;
    position: relative;
    z-index: 10000;
}

input[type=range]:focus {
    outline: none;
}

.full-range,
.incl-range {
    width: 100%;
    height: 5px;
    left: 0;
    top: 21px;
    position: absolute;
    background: #c5c5c5;
}

.price-slider{
    margin-top: 30px;
}

.incl-range {
    background: rgb(100, 100, 100);
}

.but-se-n-fil button{
     border: none;
    background-color: #0a618a;
    padding: 7px 30px;
    color: white;
    border-radius: 20px;
    text-align: center;
    margin-right: 59px;
    margin-top: 17px;
}

@media (max-width:600px ) {
    .but-se-n-fil button{
        float: none;
        margin-top: 20px;
        text-align: center;
    }
}


/************** schools and filter  ***********************/
.filter-al-schools{
    padding: 10px 5px;
    min-height: 220px;
    background-color: #ebebeb;
    display: none;
    position: absolute;
    /* width: 100%; */
    z-index: 9999;
    left: 20%;
    right: 20%;
}

.filter-al-schools .col-search{
    margin-bottom: 20px;
}

.filter-al-schools .col-search select{
    width: 80%;
    border-radius: 20px;
    height: 35px;
    background-color: white;
    border: 1px solid #0a618a;
    padding: 0 20px ;
    margin-top: 10px;

}






/***** all schools filtetr ******/

.all-schools-as .as-schools-filter{
    background: url("../pic/allschhols/FilterTexture.png")  no-repeat fixed;
    -webkit-background-size: cover;
    -Moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 60px;
}


.box-sub-ran-pr{
    margin-top: 30px;
}




.all-schools-as .as-schools-filter .as-schools-filter-search  input{

    width: 100%;
    border: 0px;
    border-bottom: 1px solid black;
}





.all-schools-as .school-filter-city{
    width: 100%;
    border: 0px;
    border-bottom: 1px solid black;
    border-radius: 0px;
    background: none;
    margin-top: 30px;
}


.all-schools-as .dropdown-filter-student{
    margin-top: 30px;
}


.dropdown-filter-student p{
    color: #053460;
    cursor: pointer;
    padding: 7px 0;
    font-size: 12px;
    letter-spacing: 1px;
}

.dropdown-filter-student p:hover{
    color: #0a618a;
    cursor: pointer;
    background-color: #e6e6e6;
}

 .bod-ch-box-dr{
    color: #0a618a;
    z-index: 99999;
    color: #0a618a;
    z-index: 99999;
    color: #0a618a;
    z-index: 99999;
    color: #0a618a;
    z-index: 99999;
    background-color: #ffffffd9;
    border-radius: 10px;
    padding: 15px 30px;
}

 .m-col-f{
     margin-top: 0px;
 }


.col-fil{
    display: flex;
    min-height: 30px;
    flex-wrap: wrap;
    /*align-content: space-between;*/
}

.dropdown-filter-student strong{
    margin-right: 5px;
}

.dropdown-filter-student .dropdown-school-type{
    display: none;
    color: #0a618a;
    z-index: 99999;
}

.dropdown-filter-student .dropdown-certificates-type{
    display: none;
    color: #0a618a;
    z-index: 99999;
}

.dropdown-filter-student .dropdown-languages-type{
    display: none;
    color: #0a618a;
    z-index: 99999;
}

.dropdown-filter-student .dropdown-education-type{
    color: #0a618a;
    z-index: 99999;
    display: none;

}

.dropdown-filter-student .dropdown-other-type{
    color: #0a618a;
    z-index: 99999;
    display: none;

}


/*********** strat all schools ************/
.all-schools-as .all-schools-main-page{
    padding-bottom: 30px;
    padding-top: 30px;
}

.all-schools-as .all-schools-main-page a{
    text-decoration: none;
}




.all-schools-main-page .school-content{
    background-color: #F2F2F2;
    min-height: 370px;
    width: 83%;
    border-radius: 15px;
    margin: 20px;
}

.all-schools-main-page .school-content button {
    margin-bottom: 14px;
    background-color: #00A0B0;
    color: white;
    letter-spacing: 1px;
    border: 0px #0a618a solid;
    position: absolute;
    right: 11px;
    top: 8px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.all-schools-main-page .school-content button:hover{
    background-color: #0287a1;

}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-labny{
    background-color:#00A0B0;
    color:#fff;
}

.all-schools-main-page .school-content:hover{
    background-color: white;

    box-shadow: 0px 0px 10px #505050;
}

.all-schools-main-page .school-content img{
    vertical-align: middle;
    width: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.all-schools-main-page .school-name {
    color: #054360;
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px;
}

.all-schools-main-page .clas-dif {
    font-size: 16px;
    color: #0a618a;
    /*padding-bottom: 20px;*/
}

@media (max-width: 1024px) {

    .all-schools-main-page .school-content {
        background-color: #F2F2F2;
        min-height: 370px;
        /*width: 50%;*/
        border-radius: 15px;
        margin: 20px;
    }

}

@media (max-width: 768px) {

    .all-schools-main-page .school-content {
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width: 414px) {

    .all-schools-main-page .school-content {
        margin-left: auto;
        margin-right: auto;
        width: 90%;

    }

}











.schools-cont-cor{
    margin: 0 auto;
    width: 100%;
    background-color: #F2F2F2;
    height: 370px;
    /*min-width: 330px;*/
    border-radius: 30px;
    padding: 15px;
    margin-top: 25px;
}


.schools-cont-cor:hover{
    margin: 0 auto;
    width: 100%;
    background-color: #ffffff;
    height: 370px;
    /*min-width: 330px;*/
    border-radius: 30px;
    padding: 15px;
    margin-top: 25px;
    box-shadow: 0px 0px 40px -11px;
}



.all-schools-main-page .im-box-a-sch{
    width: 160px;
}



.schools-cont-cor button {
    margin-bottom: 6px;
    background-color: #0a618a;
    color: white;
    letter-spacing: 1px;
    border: 0px #0a618a solid;
    position: absolute;
    right: 32px;
    top: 51px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
}




.schools-cont-cor .love-to {
    margin-bottom: 6px;
    /*background-color: #00A0B0;*/
    color: #ec9898;
    letter-spacing: 1px;
    border: 0px #0a618a solid;
    position: absolute;
    /*right: 32px;*/
    font-size: 45px;
    /*top: 15px;*/
    top: 40px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    cursor: pointer;
    left: 19px;
    background: no-repeat;
}

.exitCompare{
    display: none;
}

/******************Start SECTION FOOOTER **********************/

.school-footer{
    background: url('../pic/footer/footertexture.png')  center  no-repeat;
    width: 100%;
    min-height: 120px;
    -webkit-background-size: cover;
    -Moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.school-footer .school-footer-logo{
    padding: 30px;
}

.logo-powered{
    font-size: 18px;
    color: white;
    float: left;
    white-space: nowrap;
    margin-left: 80px;
    margin-top: 20px;
}

.logo-logo-logo{
    width: 90px;
    float: right;

}

.logo-powered1{
    font-size: 18px;
    color: white;
    float: left;
    white-space: nowrap;
    margin-left: 80px;
    margin-top: -30px;
    display: none;
}
.logo-logo-logo1{
    width: 90px;
    margin-right: 150px;
    display: none;
}

.school-footer .school-footer-input1{
    background: none;
    margin-top: 50px;
    height: 50px;
    width: 50%;
    border-radius: 40px;
    padding-left: 20px;
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid #439CB7;
}


.school-footer .school-footer-input2{
    background: none;
    margin-top: 20px;
    height: 50px;
    width: 50%;
    border-radius: 40px;
    padding-left: 20px;
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid #439CB7;
}

.school-footer .school-footer-input3{
    background: none;
    margin-top: 20px;
    height: 160px;
    width: 50%;
    border-radius: 40px;
    padding-left: 20px;
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid #439CB7;
    padding-top:  2px;
}




.school-footer .school-footer-textarea textarea{
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    resize: none;
}

.school-footer .footer-schools-social li{
    list-style: none;
    float: left;
    padding-left: 30px;

}

.school-footer .footer-schools-social ul{
    padding-top: 40px;
    padding-left: 40%;
}

.school-footer .footer-schools-social a{
    text-decoration: none;
}


.school-footer .footer-schools-social  .fa-facebook-official{
    color: #2667C1;
    border-radius: 40px;
}


.school-footer .footer-schools-social .fa-instagram{
    color: #9090CE;
}


.school-footer .footer-schools-social .fa-youtube-play{
    color: #F75656;
}

.school-footer .ulist li a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    letter-spacing: 2px;
}

.footer-sub-b button{
    background: linear-gradient(to right, #053460, #0a618a);
    border: 0px;
    padding: 20px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 40px;
    cursor: pointer;
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 36px;
}


.footer-sub-b button:hover{
    background: linear-gradient(to right, #0a618a, #0a618a);
    border: 0px;
    padding: 20px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 40px;
    cursor: pointer;
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 36px;
}

.school-footer .ulist li {
    list-style: none;
    color: white;
    float: left;
    padding-left: 40px;
    font-weight: bold;
}

.school-footer .ulist ul {
    list-style: none;
    color: white;
    float: left;
    padding-left: 24%;
    padding-top: 30px;
}



@media(max-width:650px){
    .school-footer .school-footer-input1{
        width: 90%;
    }
    .school-footer .school-footer-input2{
        width: 90%;
    }

    .school-footer .school-footer-input3{
        width: 90%;
    }
}

@media(max-width:550px){
    .school-footer .ulist ul li {
        padding: 12px;
    }
    .school-footer{
        height: 800px;
    }
    .school-footer .footer-schools-social .fa-facebook-official{
        margin-left: -80px;
    }

    .school-footer .footer-schools-social .fa-instagram{
        margin-left: -40px;
    }
}


@media (min-width: 794px) {
    .schools-partners .header-school img{
        display: none;
    }

}

.chat-body{
    opacity: 1;
    visibility: visible;
    width: 300px;
    height: 461px;
    right: 39px;
    padding-top: 0px;
    bottom: 0%;
    top: auto;
    margin-bottom: 0px;
    margin-right: 0px;
    background-color: transparent;
    margin-left: 0px;
}
.chat-description{
    margin: 10px 10px 20px;
    color: #545d6b;
    font-size: 16px;
    line-height: 19px;
    white-space: pre-wrap;
    max-width: 240px;
    box-sizing: border-box;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.chat-write-message{
    overflow-y: auto;
    height: 95px;
    resize: none;
    display: block;
}
.chat-input{
    background: transparent;
    width: 238px;
}

/* ---------- LIVE-CHAT ---------- */

#live-chat {
    bottom: 0;
    font-size: 14px;
    right: 24px;
    position: fixed;
    width: 300px;
}

#live-chat header {
    background: #053460;
    border-radius: 5px 5px 0 0;
    color: #fff;
    cursor: pointer;
    padding: 16px 24px;
}

#live-chat h4:before {
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 8px 0 0;
    width: 8px;
}

#live-chat h4 {
    font-size: 12px;
}

#live-chat h5 {
    font-size: 10px;
}

#live-chat form {
    padding: 24px;
}

#live-chat input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
    outline: none;
    width: 234px;
}

.chat-message-counter {
    background: #e62727;
    border: 1px solid #fff;
    border-radius: 50%;
    display: none;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    left: 0;
    line-height: 28px;
    margin: -15px 0 0 -15px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 28px;
}

.chat-close {
    border-radius: 50%;
    color: #fff;
    display: block;
    float: right;
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    margin: 2px 0 0 0;
    text-align: center;
    width: 16px;
}

.chat {
    background: #fff;
    display: none;
}

.chat-history {
    height: 252px;
    padding: 4px 24px;
}

.chat-message {
}

.chat-message img {
    border-radius: 50%;
    float: left;
}

.chat-message-content {
    margin-left: 56px;
}

.chat-time {
    float: right;
    font-size: 10px;
}

.chat-feedback {
    font-style: italic;
    margin: 0 0 0 80px;
}

.message-body{
    height: 100px;
    width: 234px;
    resize: none;
    box-shadow: none;
    padding-left: 8px;

}

input::-webkit-input-placeholder {
    font-size: 14px;
}


