
/* end header */

/* start hr */

#hr {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid rgb(207,207,215);
    text-align: center;
}

#hr span {
    font-size: 22px;
    background-color: #FFF;
    padding: 0 100px;
    color: #00415e;
    font-weight: bold;
}

@media (max-width:786px) {
    #hr {
        height: 10px;
    }
    #hr span {
        font-size: 15px;
        padding: 0 30px;
        font-size: 12px;
    }

}


/* end hr */

/* start terms */

.terms .container {padding-top: 40px;}

.terms .row p,
.terms .row q {
    color: #00415E;
    font-family: 'lato' , sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 20px;
}

.terms .row .firstq {font-weight: bold;font-size: 18px;}

.terms .row p:last-of-type {padding-bottom: 5px;}

@media (max-width:786px) {
    .terms .container {
        padding: 30px 20px 10px 20px;
        margin: 0 30px;
    }

    .terms .row .firstq {
        font-size: 11px;
        margin-bottom: 5px;
    }

    .terms .row p.firstq {
        margin-top: 5px;
    }

    .terms .row p,
    .terms .row q {
        font-size: 9px;
    }
}

/* end terms */

/* start ageement */
.agreement {
    margin-top: 40px;
    margin-bottom: 40px;

}

.agreement .container {
    border: 1px solid #FFF;
    border-radius: 20px;
    box-shadow: 4px 4px rgb(241,241,241);
    background-color: rgb(250,250,250);
    padding: 35px 130px;
}

.agreement h4 {
    font-weight: bold;
    color: #00415E;
    font-family: 'lato' , sans-serif;
    line-height: 1.7;
}

.agreement p {
    color: #00415E;
    font-family: 'lato' , sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.7;
}

.agreement span {
    color: #888;
    font-size: 16px;
    line-height: 3;
    font-style:oblique;
}

@media (max-width:786px) {
    .agreement .container {
        padding: 10px 20px;
        margin: 0 30px;
    }

    .agreement h4 {
        font-size: 11px;
    }

    .agreement p {
        font-size: 9px;
    }

    .agreement span {
        font-size: 9px;
    }

    .agreement .text-left {
        text-align: center;
    }

}

/* end ageement */

/* start your information */

.your-information .container-fluid {
    margin-top: 50px;
}

.your-information .container {
    border: 1px solid #FFF;
    border-radius: 20px;
    padding: 35px 130px;
    box-shadow: 0px 8px 10px rgb(241,241,241),
                -10px 8px 15px rgb(241,241,241),
                5px 8px 15px rgb(241,241,241);

}
.your-information p,
.your-information q {
    color: #00415E;
    font-size: 19px;
    font-weight: bold;
    width: 100%;
}

.your-information form label {
    color: #00415E;
    font-family: 'lato' , sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
}

.your-information form input[type=text],
.your-information form input[type=email],
.your-information form input[type=tel] {
    width: 70%;
    margin: 10px;
    border: none;
    background: rgb(240,240,240);
    color: #00415E;
}

.your-information form input[type=submit] {
    background-color: rgb(240,240,240);
    color: rgb(4,159,177);
    padding: 5px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight:bold;
    font-size: 19px;
}

.your-information form span {
    color: #888;
    font-size: 15px;
    line-height: 3;
    font-style: oblique;
}

@media (max-width:786px) {
    .your-information .container {
        padding: 10px;
        margin: 0 30px;
    }

    .your-information .text-left {
        text-align: center;
    }

    .your-information form label {
        width: 100%;
    }

    .your-information p,
    .your-information q {
        font-size: 11px;
    }

    .your-information p {
        margin-top: 10px;
    }

    .your-information form label {
        font-size: 9px;
    }

    .your-information form span {
        font-size: 9px;
    }

    .your-information form input[type=text],
    .your-information form input[type=email],
    .your-information form input[type=tel] {
      margin:0 0 10px 0;
    }

    .your-information form input[type=submit] {
        font-size: 9px;
    }
}


/* End your information */

/* start footer */

